:root {
    --theme-green:#5EA51D;
    --theme-bg:#F7F7F7;
    --theme-detail:#00000099;
    --theme-text-red:#de0303;
}
*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
html body{
   font-family: 'Nunito';
   background: var(--theme-bg);

}

.container{
    max-width: 1320px;
    padding: 0 15px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    display: block;
    width: 100%;
}
ul{
    list-style: none;
    display: inline-block;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    width: 100%;
    padding: 15px;
}
.d-flex{
    display: flex;
}
.justify-content-start{
    justify-content: flex-start;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-center{
   align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.text-align-center{
    text-align: center;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}



/* header start */
.heading{
    padding-top: 100px;
    
}
.heading h2
{
    color: var(--theme-green);
    font-size: 13px;
    font-weight: 700;
    margin: 5px;
    
}
.heading h3{
    font-size: 50px;
    font-weight: bolder;
    color: #313131;
}



/* header start */

.box{
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    margin-top: 100px;
    
}
.box  .image span{
    background-color: var(--theme-green);
    top: 40%;
    margin-left:20px;
    color:var(--theme-bg) ;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
   
}
.box img{
    height: 250px;
    width: 100%;
   
}

.box .sec-content .profile-img {
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 5px;
    background-position: center;
    background-size: cover;
    
    
}
.box .sec-content h3 {
    font-size: 14px;
    font-weight: 600;
    color: var(--theme-detail);
    
}
.box .sec-content span {
    font-size: 14px;
    font-weight: 600;
    color: var(--theme-detail);
    
}
.sec-content{
    padding: 25px;
}

.box .property-info p {
    font-size: 18px;
    font-weight: 600;
    color: black;
    padding: 20px 10px 10px 10px;
    letter-spacing: 1px;
}
.box .property-info i {
    font-size: 12px;
    color: var(--theme-detail);
    padding: 10px;
}
.box.property-info >span{
    font-size: 12px;
    font-weight: 300;
    color: rgb(250, 249, 249);
    margin-left: 20px;
    letter-spacing: 1px;
    padding: 4px 8px;
    background-color: var(--theme-green);
    text-align: center;
}
.box .property-info .rent-1{
    font-size: 12px;
    font-weight: 300;
    color: rgb(255, 253, 253);
    margin-left: 20px;
    letter-spacing: 1px;
    padding: 4px 8px;
    background-color: var(--theme-text-red);
    text-align: center;
}
.box .icons{
    margin-top: 10px;
}
.box .icons img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.ri-map-pin-2-fill{
    color: var(--theme-green);
}
